<h1>Stupid coach</h1>

<div class="quote">
<p><strong>Ta question :</strong> <%= @question %></p>
<footer class="blockquote-footer">You</footer>
</div>
<div class="coach-response">
<p><strong>Réponse du coach :</strong> <%= @answer %></p>
<footer class="blockquote-footer">Coach</footer>
</div>

<a href="/ask" class="btn btn-primary btn-question">← Try again</a>
